<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./main.css">
  <title>Test AngularJs</title>
</head>

<body ng-app="myApp" ng-cloak ng-controller="testHide">
  <md-toolbar class="md-toolbar-tools" layout="row">

    <md-button class="mycolor menu md-raised md-icon-button" ng-click="onClick()" aria-label="left">
      <md-icon ng-bind="'menu'"></md-icon>
    </md-button>
    <h1>toolbar</h1>
    <div ng-controller="testmenu" layout-align="end end" ng-cloak>
      <md-menu >
        <md-button class="color-aquao" ng-click="testmenu.openMenu($mdOpenMenu, $event)" ng-cloak aria-label="menu">
          <md-icon ng-bind="'settings'"></md-icon>
        </md-button>
        <md-menu-content width="4">

          <md-menu-item>
            <!--清單1-->
            <md-button  aria-label="B4">1</md-button>
          </md-menu-item>
          <md-menu-item>
            <!--清單1-->
            <md-button aria-label="B5">2</md-button>
          </md-menu-item>
          <md-menu-item>
            <!--清單1-->
            <md-button aria-label="B6">3</md-button>
          </md-menu-item>


        </md-menu-content>
      </md-menu>
    </div>

  </md-toolbar>

  <div flex layout="row">
    <md-sidenav ng-hide="isHide" md-component-id="left" class="md-sidenav-left">
      md-sidenav
      <div layout="column">

      </div>
    </md-sidenav>

    <md-content flex id="content" class="color-gray">
      <div layout="row" layout-xs="column">
        <div flex="45">12</div>
        <div flex="55">23</div>
      </div>

    </md-content>

    <div ng-controller="RBMenu">
      <md-fab-speed-dial md-open="RBMenu.isOpen" md-direction="up" class="md-raised md-fab-bottom-right md-fling">

        <md-fab-trigger>
          <md-button class="md-accent md-fab" aria-label="RBmenu">
            <md-icon ng-bind="'public'"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <md-button class="md-fab md-raised md-mini color-gray" aria-label="B1"></md-button>

          <md-button class="md-fab md-raised md-mini color-gray" aria-label="B2"></md-button>

          <md-button class="md-fab md-raised md-mini color-gray" aria-label="B3"></md-button>
        </md-fab-actions>

      </md-fab-speed-dial>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>

    <script>
      var app = angular.module("myApp", ['ngMaterial']);

      app.controller("testmenu", function DemoCtrl($mdDialog) {
        var originatorEv;
        this.openMenu = function ($mdOpenMenu, ev) {
          originatorEv = ev;
          $mdOpenMenu(ev);
          console.log("menu!!");
        };
        console.log("testmenu");
      });

      app.controller("testHide", function ($scope, $mdSidenav) {
        $scope.onClick = function () {
          $mdSidenav('left').toggle();
          console.log("left");
        };
      });

      

      
        app.controller("RBMenu", function () {
          //this.isOpen = false;
          console.log("RMB");
        });
     

    </script>
</body>

</html>