.md-button.mycolor{
  background-color: aquamarine;
}
md-sidenav{
  background-color: chocolate;
}
md-content{
  background-color: cadetblue;
}
.color-gray{
  background-color: #bebebe;
}
.md-button.color-gray{
  background-color: #bebebe;
}
.md-button.color-aquao{
  background-color: #66b3ff;
}
body{
  background-color: bisque;
}