.md-toolbar-tools{
  background-color: aquamarine;
}
md-sidenav{
  background-color: chocolate;
}
d-content{
  background-color: cadetblue;
}
.color-gray{
  background-color: #bebebe;
}
body{
  background-color: bisque;
}